{% extends "base.html" %}

{% load pytils_dt thumbnail pytils_dt %}

{% block content %}
				

				<div class="arhiv width50">
					<div class="block-head block-head-content">
						<div class="block-head-left"></div>
						<div class="block-head-right"></div>
						<div class="block-head-center">Архив</div>
					</div>
					<!-- block-head -->

					<div class="arhive-list">
                    {% for performance in latest %}
						<div class="arhive-item">
							<img src="{% thumbnail performance.performance.preview 210x160 crop %}" alt="">
							<p class="ar-dt">{{ performance.date|ru_strftime:"%d %B %y в %H:%M" }}</p>
							<p class="ar-name">{{ performance.performance.author }}</p>
							<div class="ar-desc">{{ performance.performance.name }}<br>{{ performance.performance.genre.name }}</div>
							<a href="{% url "repertory_info" performance.performance.slug %}" class="ar-more">Подробнее</a>
						</div>
                    {% endfor %}
					</div>
					<!-- arhive list -->
					
				</div>
				<!-- arhiv -->

				<div class="afisha width50">
					<div class="block-head block-head-content">
						<div class="block-head-left"></div>
						<div class="block-head-right"></div>
						<div class="block-head-center">Афиша</div>
					</div>
					<!-- block-head -->

					<div class="afisha-list">
                        {% for month, year, group in playbills %}
						<div class="month">
							<div class="month-title">{{ month }}:</div>
							<ul>
                                {% for item in group %}
								<li>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="month-dt">
                                                    <span>{{ item.date|date:"d" }}</span><span>{{ item.date|ru_strftime_preposition:"%a"|slice:"2:" }}</span>
                                                </div>
                                                <div style='clear:both;'></div>
                                            </td>
                                            <td>
                                                <a href="{% url "repertory_info" item.performance.slug %}">
                                                    {{ item.performance.name }}
                                                    {% if item.performance.is_premiere %}<span>Премьера!</span>{% endif %}
                                                </a>
                                                <p>{{ item.performance.author }}</p>
                                            </td>
                                        </tr>
                                    </table>
								</li>
                                {% endfor %}
							</ul>
						</div>
                        {% endfor %}
						<!-- month -->
					</div>
					<!-- afisha list -->
				</div>
				<!-- afisha -->

				<div class="clearfix"></div>

				<div class="main-block clearfix">

					<div class="pressa">
						<p class="title">Последние новости:</p>
                        {% for news in news_list %}
                        <div class="article">
                            <div class="preview_news">
                                {% if news.preview %}
                                <a href="{% url 'news_info' news.pk %}">
                                    <img src="{% thumbnail news.preview 80x80 crop="center"  %}" alt="" />
                                </a>
                                {% endif %}
                            </div>
                            <div class="news_short_info">
                                <div class="dt">{{ news.date_created|ru_strftime:"%d.%m.%Y" }}</div>
                                <a href="{% url 'news_info' news.pk %}">{{ news.name }}</a>
                                <div class="introtext">{{ news.short_content }}</div>
                            </div>
                        </div>
                        {% endfor %}
						<!--  -->
					</div>
					<!-- pressa -->

					<div class="partners">
						<p class="title">Наши партнеры:</p>
                        {% for partner in partners %}
                        {% spaceless %}
                        <a href="{{ partner.url }}" title="{{ partner.short_description }}" class="partner-img">
                            <img src="{% thumbnail partner.logo 200x200 upscale %}" alt="{{ partner.short_description }}" />
                        </a>
                        {% endspaceless %}
                        {% endfor %}
					</div>
					<!-- partners -->

				</div>
				<!-- main block -->


{% endblock %}
