{% extends "other_base.html" %}
{% load menu_tags %}

{% block submenu %}
<div class="menu-block menu-top menu-small-second">
    <div class="block-head-left"></div>
    <div class="block-head-right"></div>
    <ul class="menu">
        {% show_menu 1 1 0 0 'menu.html' %}
    </ul>
</div>
{% endblock %}
