{% extends "staff/base.html" %}
{% load menu_tags thumbnail %}

{% block title %}{{ category.name }}{% endblock %}

{% block other_content %}
<div class="repertuar-list clearfix">
    {% for person in persons %}
    <a href="{% url "staff_info" person.post.category.slug person.slug %}" class="person">
        <img src="{% thumbnail person.photo 150x150 crop %}" alt="">
        <p class="person-name">
            <strong>{{ person.last_name }}</strong> {{ person.first_name }}
            <br>{{ person.patronymic }}
        </p>
    </a>
    <!--  -->
    {% endfor %}
</div>
{% endblock %}
