{% extends "staff/base.html" %}
{% load menu_tags pytils_dt thumbnail %}

{% block title %}{{ person.full_name }}{% endblock %}

{% block other_content %}
<div class="staff_photo">
    <img src="{% thumbnail person.photo 400x600 crop %}" alt="" /></div>
<div class="staff_info">
    <h1 class="title person_head">{{ person.full_name }}</h1>
    <p class="birthday">День рождения: {{ person.birthday }}</p>
    <div class="about">{{ person.about|safe }}</div>
    {% if roles.exists %}
    <h3 class="roles">Участие в спектаклях:</h3>
    <ul>
        {% for role in roles %}
        <li>{{ role.role_name  }} - 
            <a href="{% url "repertory_info" performance_slug=role.performance.slug  %}">{{ role.performance.name }}</a> -
            {{ role.performance.author }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% include 'news.html' %}
{% endblock %}
