{% extends "other_base.html" %}

{% load pytils_dt thumbnail %}

{% block other_content %}
<div class="afisha-list">
    {% for month, year, group in playbills %}
    <div class="month_afisha_page {% cycle '' 'second' %}">
        <div class="month-title">{{ month|title }}:</div>
        <div class="arhive-list">
            {% for item in group %}
                <div class="arhive-item">
                    <img src="{% thumbnail item.performance.preview 210x160 crop %}" alt="">
                    <div class="ar-dt">{{ item.date|ru_strftime:"%d %B %y в %H:%M" }}</div>
                    <div class="ar-name">{{ item.performance.author }}</div>
                    <div class="ar-desc">{{ item.performance.name }}<br>{{ performance.performance.genre.name }}</div>
                    <a href="{% url "repertory_info" item.performance.slug %}" class="ar-more">Подробнее</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <!-- month -->
</div>
{% endblock %}
