{% extends "other_base.html" %}

{% load thumbnail sekizai_tags staticfiles %}

{% block other_content %}
{% if photos.exists %}
{% addtoblock "js" %}<script src="{% static 'js/jquery.photobox.js' %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/photobox.css' %}" />{% endaddtoblock %}
{% addtoblock "css" %}<!--[if lt IE 9]><link rel="stylesheet" href="{% static 'css/photobox.css' %}" /><![endif]-->{% endaddtoblock %}
{% spaceless %}
<ul id='gallery'>
  {% for photo in photos %}
  <li><a href="{{ photo.photo.url }}"><img src="{% thumbnail photo.photo 100x100 crop %}" alt="" /></a></li>
  {% endfor %}
</ul>
{% endspaceless %}
{% endif %}

<div{% if photos.exists %} class="repertory_info"{% endif %}>
    <h1 class="title person_head">{{ news.name }}</h1>
    <div>{{ news.date_created|date:"d.m.Y" }}</div><br/>
    {{ news.content|safe }}<br/>
</div>
<p><a href="{% url 'news_list' %}" class="nounderline">&larr; </a><a href="{% url 'news_list' %}">Вернуться в архив новостей</a></p>
{% endblock %}
