{% extends "other_base.html" %}
{% load pytils_dt thumbnail %}

{% block other_content %}
{% for news in object_list %}
<div class="article">
    <div class="preview_news">
        {% if news.preview %}
        <a href="{% url 'news_info' news.pk %}">
            <img src="{% thumbnail news.preview 80x80 crop="center"  %}" alt="" />
        </a>
        {% endif %}
    </div>
    <div class="news_short_info">
        <div class="dt">{{ news.date_created|ru_strftime:"%d.%m.%Y" }}</div>
        <a href="{% url 'news_info' news.pk %}">{{ news.name }}</a>
        <div class="introtext">{{ news.short_content }}</div>
    </div>
</div>
{% endfor %}
  {% include "pagination.html" %}
{% endblock %}
