{% extends "other_base.html" %}
{% load thumbnail %}

{% block other_content %}
<div class="repertuar-list clearfix">
   {% for performance in performances %}
    <div class="repertuar">
        <a href="{% url "repertory_info" performance.slug %}" class="repertuar-img">
            <img src="{% thumbnail performance.preview 239x182 crop %}" alt="">
            <span class="fon">
                <span class="line1">{{ performance.name }}</span>
                <span class="line2">Драматург - {{ performance.author }}</span>
            </span>
        </a>
        <span class="buy">{{ performance.genre }}</span>
        <!--<a href="" class="buy">Купить билеты</a>-->
    </div>
    <!--  -->
    {% endfor %}
</div>
<!-- repertuar-list -->

{% endblock %}
