{% extends "other_base.html" %}
{% load thumbnail pytils_dt sekizai_tags staticfiles %}


{% block other_content %}
{% addtoblock "js" %}<script src="{% static 'js/jquery.photobox.js' %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/photobox.css' %}" />{% endaddtoblock %}
{% addtoblock "css" %}<!--[if lt IE 9]><link rel="stylesheet" href="{% static 'css/photobox.css' %}" /><![endif]-->{% endaddtoblock %}
{% spaceless %}
<ul id='gallery'>
  {% for photo in photos %}
  <li><a href="{{ photo.photo.url }}"><img src="{% thumbnail photo.photo 100x100 crop %}" alt="" /></a></li>
  {% endfor %}
</ul>
{% endspaceless %}
<div class="repertory_info">
    <h1 class="title person_head">
        {{ performance.name }}
        {% if performance.is_premiere %}<span class="red">Премьера!</span>{% endif %}
    </h1>
    <h3>Драматург: {{ performance.author }}</h3>
    <p>{{ performance.genre.name }}. Продолжительность: 
       {% if performance.duration|date:"G" >= "1" %}
       {{  performance.duration|date:"G" }} ч.
       {% endif %}
       {{  performance.duration|date:"i" }} мин.
    </p>
    <p class="about">Премьера состоялась: {{ performance.date_premiere|ru_strftime_inflected:"%d %B %Y" }} года.</p>
    <br />
    <div class="about">{{ performance.about|safe }}</div>
    <table class="roles">
       <tr>
          <th colspan="3">Действующие лица:</th>
       </tr>
      {% for person in staffs %}
      <tr>
        <td align="right">{{ person.role_name }}</td>
        <td>—</td>
        <td>
          {% if person.staff %}
          <a href="{% url 'staff_info' person.staff.post.category.slug person.staff.slug %}">{{ person.staff.full_name }}</a>
          {% else %}
          {{ person.fio }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% for person in actors %}
          <tr>
            <td align="right">{{ person.role_name }}</td>
            <td>—</td>
            <td>
              {% if person.staff %}
              <a href="{% url 'staff_info' person.staff.post.category.slug person.staff.slug %}">{{ person.staff.full_name }}</a>
              {% else %}
              {{ person.fio }}
              {% endif %}
            </td>
          </tr>
      {% endfor %}
    </table>
</div>
{% include 'news.html' %}
{% endblock %}
