<!DOCTYPE html>
<html>
<head>
{% load cms_tags sekizai_tags menu_tags staticfiles thumbnail %}
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>{% block title %}{% page_attribute "page_title" %}{% endblock %}|Национальный драматический театр им. П.В. Кучияк</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% render_block "css" %}
</head>
<body>
<div class="wrapper">
	<header class="header">
		<a href="" style="width:700px" class="logo"><img src="{% static 'images/logo.png' %}" alt="Национальный театр"></a>
		<h2 class="site-name">Национальный драматический театр им. П.В. Кучияк</h2>
		<div class="menu-block menu-top">
			<div class="menu-left"></div>
			<div class="menu-right"></div>
			<ul class="menu">
                {% show_menu 0 0 0 0 'menu.html' %}
			</ul>
		</div>
	</header><!-- .header-->
	<div class="middle">
		<div class="container">
			<div class="content">
                {% block content %}{% endblock %}
			</div><!-- .content -->
		</div><!-- .container-->
		<div class="right-sidebar">
			<div class="block-head block-head-sidebar">
				<div class="block-head-left"></div>
				<div class="block-head-right"></div>
				<div class="block-head-center">Стоп-Кадр</div>
			</div>

			<div class="item-list">

                {% for performance in for_photos %}
				<a href="{% url "repertory_info" performance.slug %}" class="item">
					<img src="{% thumbnail performance.preview 210x160 crop %}" alt="">
					<span class="fon">
						<span class="line1">{{ performance.name }}{% if performance.is_premiere %} <i>Премьера</i></span>{% endif %}
						<span class="line2">Драматург - {{ performance.author }}</span>
					</span>
				</a>
                {% endfor %}
				<!-- item -->
			</div>
			<!-- item list -->


			<div class="block-head block-head-sidebar">
				<div class="block-head-left"></div>
				<div class="block-head-right"></div>
                <div class="block-head-center"><a href="https://vk.com/dramteatr_altay">Мы в соц.сети</a></div>
			</div>

			<div class="bnr-list">
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

                <!-- VK Widget -->
                <div id="vk_groups"></div>
			</div>

		</div><!-- .right-sidebar -->
	</div><!-- .middle-->
	<img src="{% static 'images/bottom-bg.png' %}" alt="" class="fimg">

	<footer class="footer">
		 <div class="copy">2014, Все права защищены</div>
		 <div class="footer-address">
		 	<p>Адрес: г. Горно-Алтайск, Коммунистический проспект, 16;</p>
		 	<p>Телефон: 38822 225 77, 279 17 - телефон/факс - бухгалтерия.</p>
		 </div>
		 <div class="footer-counter">
		 	<img src="{% static 'images/counter.png' %}" alt="">
		 </div>
	</footer><!-- .footer -->

</div><!-- .wrapper -->
<script src="{% static 'js/jquery.js' %}" ></script> 
<script src="{% static 'js/autocolumnlist.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% render_block "js" %}
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "210", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 75654589);
</script>

</body>
</html>
