{% load menu_tags %}

{% for child in children %}
<li class="child
           {% if child.selected %} active{% endif %}
           {% if child.ancestor %} active{% endif %}
           {% if child.sibling %} sibling{% endif %}
           {% if child.descendant %} descendant{% endif %}
           link1">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	{% if child.children %}
	<ul>
		{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
	</ul>
	{% endif %}
</li>
{% endfor %}
