{% load pytils_dt %}
<div class="clearfix"></div>
{% if news_list %}
    <div class="main-block clearfix">
        <div>
            <p class="title">Последние новости:</p>
            {% for news in news_list %}
            <div class="article">
                <div class="dt">{{ news.date_created|ru_strftime:"%d.%m.%Y" }}</div>
                <a href="{% url 'news_info' news.pk %}">{{ news.name }}</a>
                <div class="introtext">{{ news.short_content }}</div>
            </div>
            {% endfor %}
            <!--  -->
        </div>
        <!-- pressa -->
    </div>
{% endif %}
