{% extends "base.html" %}
{% load cms_tags simple_page %}


{% block content %}
 {% block submenu %}
					<div class="block-head block-head-content">
						<div class="block-head-left"></div>
						<div class="block-head-right"></div>
						<div class="block-head-center">{% page_attribute "title" %}</div>
					</div>
 {% endblock %}
 <div class="person-list clearfix">
   {% block other_content %}
    <div class="about">{% page_content current_page %}</div>
   {% endblock %}
 </div>
 <!-- person-list -->
{% endblock %}
