{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo;</a>
    {% else %}
        <li class="disabled"><span class="disabled prev">&lsaquo;&lsaquo;</span></li>
    {% endif %}
    {% for page in page_obj.page_range %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="active"><span class="current page">{{ page }}</span></li>
            {% else %}
                <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
        <li class="disabled"><span>...</span></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">&rsaquo;&rsaquo;</a></li>
    {% else %}
        <li class="disabled"><span class="disabled next">&rsaquo;&rsaquo;</span></li>
    {% endif %}
</ul>
 <!-- pagination -->
{% endif %}
