/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}


@font-face {
	font-family: 'Romul';
	src:url('Romul.eot?#iefix') format('embedded-opentype'),  
		url('Romul.otf')  format('opentype'),
		url('Romul.woff') format('woff'), 
		url('Romul.ttf')  format('truetype'), 
		url('Romul.svg#Romul') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	font: 14px/18px  'Open Sans', Arial;
	background: url(../images/bg.jpg) ;
}

.wrapper {
	width: 100%;
	min-width: 1200px;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 350px;
	background: url(../images/header-bg2.png) no-repeat 50% -60px;
	position: relative;
}

.logo{
	display: block; 
	text-align: center;
	width: 183px;
	height: 183px;
	margin: 0 auto 20px auto;
	padding: 20px 0 0 0;
}

.site-name{
	color: #fffcd2;
	text-align: center;
	text-transform: uppercase;
	font: 25px Romul;

}

/* menu
================================*/
.menu-block,
.block-head{
	position: relative;
	margin: 0;
	width: 100%; 
}

.menu-left,
.menu-right,
.block-head-left,
.block-head-right{
	position: absolute;
	top: 0;
	width: 118px;
	height: 58px;
	z-index: 2;
}

.menu-left,
.block-head-left{
	left: 0;
	background: url(../images/menu-left.png) no-repeat ;
}

.menu-right,
.block-head-right{
	right: 0;
	background: url(../images/menu-right.png) no-repeat ;
}

.menu,
.block-head-center{
	background: url(../images/menu.png) repeat-x 0 14px;
	padding: 0 60px;
	position: relative; 
	margin: 0 28px;
	z-index: 3;
	height: 58px; 
}

.menu li{
	display: table-cell;
}

.menu a{
	padding: 19px 10px;
	color: #010101;
	text-decoration: none;
	font: 14px  'Open Sans';
	display: block;
	height: 25px;
	min-width: 110px;
	text-align: center;
	position: relative;
}

.menu a:hover{
	text-decoration: underline;
}
 
 
.menu .active a{
	background: url(../images/menu-active.png) no-repeat 50% 0;
}  

.block-head-center{
	padding: 19px 10px;
	font: 18px Romul;	
}

.block-head-center a {
    color: black;
    text-decoration: none;
}

.block-head-center a:hover {
    text-decoration: underline;
}

/* 23.09.2014
=========================================*/
.block-head-content .menu .link1 a {
	min-width: 210px; 
}

.block-head-content .menu .link2 a {
	min-width: 330px; 
}

.menu-small-second .menu .active.link1 a {
	background: url(../images/pl1.png) no-repeat 50% 0;
}

.menu-small-second .menu .active.link2 a {
	background: url(../images/pl2.png) no-repeat 50% 0;
}

/* end
======================*/

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 98%;
	position: relative;
	margin: 0 auto;
	background: #fff;
	border-radius: 0 0 20px 20px;
	z-index: 2;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	/*overflow: hidden;*/
}
.content {
	padding: 0 270px 0 0;
}

.fimg{
	display: block;
	width: 98%;
	height: 20px;
	margin: 0 auto -25px auto;
	border-radius: 0 0 20px 20px;
	position: relative; 
	z-index: 1;
	top: -15px;
}

/* menu-content
======================================*/
.menu-small-second li {
    min-width: 213px;
}
.menu-small-second .menu a {
    font: 14px Romul;
    padding: 20px 23px;
}

.menu-small-second, .block-head-content {
	margin: -29px 0 0 -15px;
}

.block-head-content{
	width: 102%;
	height: 60px;
    overflow-y: hidden;
}

.block-head-content .menu a{
	font: 18px Romul;
	padding: 19px 23px;
}

.block-head-content .menu { 
	padding: 0 30px; 
}

/* ###################### main page ##################### */

/* main page
========================================*/
.width50{
	width: 49%;
	float: left;
}

.afisha{
	float: right;
}

/* arhive
==============================================*/
.arhive-item{
	background: #f7f7f7;
	border-radius: 15px;
	padding: 2px 5px 2px 0;
	margin: 5px 0 5px 10px;
	position: relative;
}

.arhive-item:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.arhive-item:nth-child(even){
	background: #fff;
}

.arhive-item img{
	max-width: 100%;
	border-radius: 15px;
	float: left;
	margin: 0 10px 0 0;
}

.ar-dt{
	font: italic 14px Georgia;
	color: #ba7418;
	margin: 0 0 5px 0;
	padding: 5px 0 0 0;
}

.ar-name{
	font: bold italic 18px Georgia;  
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #dcdcdc;
}

.ar-desc{
	font: 14px  'Open Sans';
}

.ar-more{
	display: block;
	position: absolute;
	bottom: 10px ;
	right: 10px;
	color: #dcdcdc;
	font: 12px  'Open Sans';
}

.ar-more:hover{
	text-decoration: none;
}

/* afisha
------------------------------------------*/
.month_afisha_page {
    display: inline-block;
    width: 47%;
    vertical-align: top;
}
.month_afisha_page.second {
    margin-left: 7%;
    margin-right: -3%;
}

.month_afisha_page li {
    margin-top: 15px;
}

/* afisha month
=========================================*/
.month{
	margin: 5px 0 10px 0;
}

.month:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.month-title{
	font: bold italic 18px Georgia;
	color: #ba7418;
	border-bottom: 1px solid #dcdcdc ;
	margin: 0 0 5px 0;
	padding: 0 0 3px 0;
}

.column{
	width: 49%;
	float: left; 
}

.column.last{
	float: right;
}

.month li{ 
	padding: 3px;
	float: none;
	/*height: 37px;*/
}

.column:first-child li:nth-child(odd){
	background: #f7f7f7;
}

.column.last li:nth-child(even){
	background: #f7f7f7;
}

.month-dt{
	background: #f3ca6c;
	border-radius: 15px;
	width: 70px;
/*	float: left;*/
	top: 5px;
	position: relative;
	margin: 0 10px 0 0;
}

.month-dt span{
	padding: 4px 7px;
	font: italic 12px Georgia;
	display: inline-block;
}

.month-dt span:first-child{
	border-right: 1px solid #f7f7f7;
	color: #fff;
	font: bold 14px 'Open Sans';
}

.month_afisha_page a, .month a{
	text-decoration: none;
	font: bold 14px  'Open Sans';
	color: #000;
}

.month_afisha_page a span .month a span{
	color: #d93c21;
}

.month a:hover{
	text-decoration: underline;
}

.month_afisha_page p, .month p{
	font-size: 12px;
}

/* main blocks
======================================*/
.main-block{
	border-top: 1px solid #dcdcdc;
	padding: 10px 0 0 0;
	margin: 20px 0 20px 20px;
}

.title{
	font: bold italic 18px Georgia;
	color: #ba7418;
	margin: 0 0 10px 0;
}

/* pressa
=================================*/
.pressa{
	width: 60%;
	float: left;
	border-right: 1px solid #dcdcdc;
}

.article{
	margin: 0 10px 15px 0;
	font: 14px  'Open Sans';
}

.article .dt{
	font: italic 14px Georgia;
	color: #f3ca6c; 
}

.article a{
	color: #000;
	font: bold italic 18px Georgia;
	text-decoration: none;
	display: block;
	margin: 5px 0 10px 0;
}

.article a:hover{
	text-decoration: underline;
}


/* partners
=================================*/
.partners{
	width: 39%;
	float: right; 
}

.partner-img {
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
}

.partner-img * {
    vertical-align:middle;
}


/*################### Personal page ##################3*/



/* person list
=======================================*/
.person-list{
	padding: 0 10px 20px 10px;
    margin-top: 15px;
}

.person{
	display: block;
	width: 160px;
	height: 290px;
	float: left;
	margin: 10px 6px;
	text-decoration: none;
	color: #000;
	background: #ececec;
	border-radius: 15px;
	box-shadow: 0 3px 3px rgba(0,0,0, .2); 
}

.person:hover{
	background: #f3c86a;
}

.person:hover img{
	box-shadow: 0 3px 3px rgba(0,0,0, .2);
}

.person img{
	width: 160px;
	height: 210px;
	border-radius: 15px;
	display: block;
	box-shadow: 0 3px 3px #e3e3e3;
}

.person-name{
	font: 14px  'Open Sans'; 
	padding: 10px;
}

.person-name strong{
	font: bold italic 18px Georgia;
	display: block;
}

 
/*#################### Repertuar page ###################*/

/* repertuar list
=======================================*/
.repertuar-list{
	padding: 10px 10px 20px 10px;
    margin-top: -20px;
}

.repertuar{
	display: block;
	width: 240px;
	height: 220px;
	float: left;
	margin: 10px 9px;
	background: #ececec;
	border-radius: 15px;
	box-shadow: 0 3px 3px rgba(0,0,0, .2); 
	position: relative;
}

.repertuar:hover{
	background: #f3c86a;
}


.buy{
	font: bold italic 15px Georgia;
	display: block;
	text-align: center; 
	color: #000;
	padding: 10px 0 0 0;
}

.buy:hover{
	text-decoration: none;
}

/*
==========================*/
.repertuar-img{
	display: block;
	width: 240px; 
	position: relative;
	height: 180px; 
	border-radius: 15px;
	text-decoration: none;
	color: #000; 
	box-shadow: 0 3px 3px rgba(0,0,0, .2); 

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s; 
}

.repertuar-img:hover{ 
	box-shadow: 0 3px 3px rgba(0,0,0, .4); 
}

.repertuar-img img{
	display: block;
	width: 240px;  
	height: 180px; 
	border-radius: 15px;
	position: relative;
}

.repertuar-img .fon{ 
	width: 220px;
	height: 40px;    
	/*border-radius: 0 0 16px 16px;*/
}

.line1{
	font: bold 14px  'Open Sans';
	display: block;
}


/*pagination
===================================*/
.pagination {
    margin: 20px 15px;
    text-align: right;
    clear: both;
}

.pagination li {
    display: inline-block;
}

.pagination span {
    padding: 5px ; 
    text-decoration: underline;
}

.pagination a {
    text-decoration: none;
    color: #000;
    font: 14px  'Open Sans';
    padding: 5px;
}

.pagination a:hover{
	text-decoration: underline;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative; 
}

.block-head-sidebar{
	margin: -29px -50px -30px 0;
	width: 105%;
}

/* item list
=================================*/
.item-list{
	margin: 0 0 40px 0;
}

.item{
	display: block;
	width: 210px;
	margin: 10px 0 10px 20px;
	position: relative;
	height: 160px; 
	border-radius: 15px;
	color: #000;
	box-shadow: 0 3px 3px rgba(0,0,0, .2); 

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s; 
}

.item:hover{ 
	box-shadow: 0 3px 3px rgba(0,0,0, .4); 
}

.item img{
	display: block;
	width: 210px;  
	height: 160px; 
	border-radius: 15px;
	position: relative;
}

.fon{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 190px;
	height: 40px;
	padding: 5px 10px;
	background: url(../images/white.png) ;
	overflow: hidden;
	font: 12px  'Open Sans';
	border-radius: 0 0 15px 15px;
}

.line1{
	font: bold 14px  'Open Sans';
}

/* bnr-list
===================================*/ 
.bnr-list{
	margin: 0 0 20px 20px;
}

.bnr-list img{
	margin: 10px 0 ; 
	display: block;
	max-width: 100%;
	border-radius: 15px;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s; 
}

.bnr-list a:hover img{
	opacity: .9;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 30px;
	color: #fff;
	position: relative;
	padding: 20px;
	background: url(../images/footer.png) no-repeat 50% 0;
	font: 14px  'Open Sans';
}

.copy{
	float: left;
}

.footer-address{
	position: absolute;
	left: 50%;
	width: 430px;
	margin: 0 0 0 -215px;
	top: 20px;

}

.footer-counter{
	float: right;
}

/* Staff
-------------------------------------------------------------------*/
.person_head {
    font-size: 30px;
    margin: 30px 0;
}

.staff_photo {
    float: left;
    width: 400px;
}

.staff_info {
    margin-left: 450px;
}

.birthday {
    margin: 20px 0;
}

.about p {
    margin: 10px 0;
}

.staff_info h3.roles {
    font: bold italic 18px Georgia;
    margin: 5px 0;
}

.red {
    color: #d93c21;
}

.person_head .red {
    font-size: 16px;
}

/* Repretory
----------------------------------------------------------------*/
.repertory_info {
    margin-left: 240px;
}

table.roles {
    margin-top: 20px;
}

table.roles th {
    font: bold italic 18px Georgia;
}

table.roles th, table.roles td {
    padding: 10px 3px;
}

/* photo gallery
------------------------------------------------*/
#gallery {
    float: left;
    width: 240px;
}

#gallery li {
    display: inline-block;
    height: 100px;
    margin: 1px;
    width: 100px;
}

/* 1200px
===================================================*/
@media screen and (max-width: 1280px) {

	.block-head-content .menu a { 
		padding: 19px 15px;
	}
}


/*.feedback_error ul */
.feedback_error {
	
}

.errorlist li {
	margin: 0.3em 35% 0;
	padding: 0.1em 0;
	width:30%;
	color: red;
	text-align:center;
	text-weight: bold;
	border: 1px solid red;
	background-color: #FFCCCC; 
}

.feedback_input_wrapper, .feedback_textarea_wrapper {
	width:100%;	
	margin-bottom: 0.5em;
}

.feedback_textarea_wrapper {	
	text-align:center;
}

#feedback_submit {
	width:20%;
		;
	margin: 0 40%;
}

#feedback_submit_button
{	
	aligh:center;
	width:100%;
}

.feedback_label_input {
	width:50%;
	display:inline;
    margin-right: 5px;
}

/* #feedback_email, #feedback_name, #feedback_subject, #feedback_body */
.feedback_contact, .feedback_name, .feedback_subject
{
/*	text-aligh: right;
	float:right;
	color: black; */
	
	display:inline;
}


#id_contact, #id_name, #id_subject
{
	width:50%;
}

#id_body { 
	width:75%;
	height:12em;
	margin: 0 12%;
}


label[for="id_subject"], label[for="id_name"], label[for="id_contact"] {	
	float: left;	
	width:25%;
	position: relative; /* выравниваем тексты меток и полей по одному уровню */
	top: 5px; /* отступ сверху подбираем в зависимости от размера шрифта и дизайна полей */
	text-align:right;	
	
	/* padding-left: 3em;
	padding-right:0.25em; */
}  

label[for="id_body"] {
	color:ref;
	text-align:center;
}

#feedback_done {
	width:50%;
	margin: 1em 25%;;
}

#feedback_done ul {
	list-style: none;
	
	border: 1px solid green;
	background-color: #CCCC99; /*#99CC66; */
	color: green; /*#FFFFFF; */
	/* padding: 0.1em 1em; */
	text-align:center;	
}

#feedback_done ul li {
	padding: 0.25em 1em;
}


.preview_news {
    height: 70px;
    width: 70px;
    float: left;
}

.news_short_info {
    margin-left: 100px;
    min-height: 70px;
}

.nounderline {
    text-decoration: none;
}
